:root {
  --clr-primary-blue-500: hsl(215, 51%, 70%);
  --clr-primary-cyan-400: hsl(178, 100%, 50%);

  --clr-neutral-blue-950: hsl(217, 54%, 11%); /* (main BG) */
  --clr-neutral-blue-900: hsl(216, 50%, 16%); /* (card BG) */
  --clr-neutral-Blue-800: hsl(215, 32%, 27%); /* (line) */
  --clr-neutral-White: hsl(0, 0%, 100%);

  --fs: 1.125em;

  --ff-base: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-neutral-blue-950);
  color: var(--clr-primary-blue-500);
  font-family: var(--ff-base);
  font-size: var(--fs);
  font-weight: var(--fw-regular);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.heading {
  font-family: var(--ff-base);
  font-size: var(--fw-bold);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.ntf {
  background-color: var(--clr-neutral-blue-900);
  border-radius: 40px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.ntf__image {
  border-radius: 20px;
  background: url(../src/assets/image-equilibrium.jpg) 0 0 no-repeat;
  height: 300px;
  background-position: center;
  width: 100%;
  background-size: contain;
}
.ntf__heading {
  color: var(--clr-neutral-White);
  font-size: 0.85em;
  text-align: left;
  padding-top: 20px;
}

.ntf__description {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

.ntf__tech_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ntf__price {
  color: var(--clr-primary-cyan-400);
}

.ntf__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ntf__author-image {
  height: 50px;
  width: 50px;
}

.ntf__author_text-bold {
  color: var(--clr-neutral-White);
}

/* HOVER EFFECTS */
.ntf__author_text-bold:is(:hover, :focus) {
  color: var(--clr-primary-cyan-400);
}

.ntf__heading:is(:hover, :focus) {
  color: var(--clr-primary-cyan-400);
}

.ntf__image:is(:hover, :focus) {
  background-color: var(--clr-primary-cyan-400);
  background-blend-mode: lighten;
}
